.data {
    line-height: 30px;
}

/*smartphone version88*/
@media (max-width: 991.98px){
    .logo {
        width: 120px;
    }
}
/*dekstop version*/
@media (min-width: 992px) {
    .logo {
        width: 200px;
    }
    .data {
        font-size: 20px;
    }
}